<!DOCTYPE html>
<p>Hello!</p>
<p>You can use next links:</p>
<p>admin/</p>
<div>
<pre><span>api/v1/user/register/</span><br /><span>api/v1/user/register/confirm/</span><br /><span>api/v1/user/login/</span><br /><span>api/v1/user/details/</span><br /><span>api/v1/user/logout/</span><br /><span>api/v1/user/delete/</span><br /><span>api/v1/user/password_reset/<br /></span><span>api/v1/</span>user/password_reset/confirm/</pre>
<pre><span style="font-family: Verdana, Arial, Helvetica, sans-serif;">api/v1/celery_status/ [name='celery_status']</span></pre>
</div>
<p>api/v1/auth0/public<br />api/v1/auth0/private<br />api/v1/auth0/private-scoped<br />auth0/ [name='auth0_index']<br />auth0/login [name='auth0_login']<br />auth0/logout/ [name='auth0_logout']<br />auth0/callback [name='auth0_callback']<br /><br />silk/</p>
<p>api/schema/ [name='schema']<br />api/schema/swagger-ui/ [name='swagger-ui']<br />api/schema/redoc/ [name='redoc']<br /><br /></p>
