Django
celery[redis]
redis
redis-server

amqp
asgiref
async-timeout
attrs
Authlib
autopep8
billiard

certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
coverage
cryptography
defusedxml

django-allauth
django-cors-headers
django-rest-passwordreset
django-silk
djangorestframework
drf-jwt
drf-spectacular
drf-spectacular-sidecar
ecdsa
exceptiongroup
gprof2dot
gunicorn
idna
inflection
iniconfig
jsonschema
jsonschema-specifications
kombu
model-bakery
oauthlib
packaging
pluggy
prompt-toolkit
pyasn1
pycodestyle
pycparser
PyJWT
pytest
pytest-cov
pytest-django
python-dateutil
python-dotenv
python-jose
python3-openid
pytz
PyYAML

referencing
requests
requests-oauthlib
rpds-py
rsa
six
social-auth-app-django
social-auth-core
sqlparse
tomli
typing_extensions
tzdata
uritemplate
urllib3
vine
wcwidth
